<!-- <app-reusable-change-password [userType]="'sffffff'"></app-reusable-change-password> -->
<br><br><br>

<div class="row d-flex justify-content-center">
    
    <div class="col-8">
    
<h1 class="text-center">change password</h1>
<form #form="ngForm" (ngSubmit)="submit(form.value)"  class="form1">
  
    
    <div class="mb-3 ">
      <label for="exampleInputPassword1" class="form-label ">Old Password</label>
      <input ngModel type="password" class="form-control" name="old_password" id="exampleInputPassword1">
    </div>
    <div class="mb-3 ">
        <label for="exampleInputPassword1" class="form-label ">New Password</label>
        <input ngModel type="password" class="form-control" name="new_password" id="exampleInputPassword1">
      </div>
      <div class="mb-3 ">
        <label for="exampleInputPassword1" class="form-label ">Confirm Password</label>
        <input ngModel ng type="password" class="form-control" name="confirm_password" id="exampleInputPassword1">
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <br>
    <p [ngStyle]="{'color':msg ?'green':'red'}">{{message}}<p>
    

  </form>
</div>
</div>
<br><br><br>

