<div style="height: 700px;;" class="row align-items-center">
    <div class="col-8">
<form #form ="ngForm" (ngSubmit)="submit(form.value)">
    <div class="form-group">
      <label for=""><strong>Product name</strong></label>
      <input pattern="( [A-Z]+([ '-][a-zA-Z]+)* )" required="" #Pname="ngModel" name="Pname" ngModel type="text" class="form-control"  placeholder="Product Name">
      <div *ngIf="Pname.touched">
        <span *ngIf="Pname.errors?.['required']">please enter the name</span>
        <span *ngIf="Pname.errors?.['pattern']">invalid name</span>
      </div>
    
    </div><br>
    <div class="form-group">
      <label> <strong>category</strong></label>
      <input pattern="( [A-Z]+([ '-][a-zA-Z]+)* )" required="" #category="ngModel" name="category" ngModel type="text" class="form-control"  placeholder="category">
      <div *ngIf="category.touched">
        <span *ngIf="category.errors?.['required']">please enter the category</span>
        <span *ngIf="category.errors?.['pattern']">invalid name</span>
      </div>
    </div><br>
    <div class="form-group">
        <label><strong>Product No</strong></label>
        <input #Pno="ngModel"  name="Pno" ngModel required="" type="number" class="form-control"  placeholder="Product no">
        <div *ngIf="Pno.touched">
            <span *ngIf="Pno.errors?.['required']">please enter the Product number</span>
            
          </div>
      </div><br>
      <div class="form-group">
        <label ><strong>Product Price</strong></label>
        <input #Pprice="ngModel" name="Pprice" required="" ngModel type="number" class="form-control"  placeholder="Product price">
        <div *ngIf="Pprice.touched">
            <span *ngIf="Pprice.errors?.['required']">please enter the Product price</span>
            
          </div>
      </div><br>
      <div class="form-group">
        <label ><strong>Product discription</strong></label>
        <input #Pdis="ngModel" name="Pdis" required="" ngModel type="text" class="form-control"  placeholder="Product discription">
        <div *ngIf="Pdis.touched">
            <span *ngIf="Pdis.errors?.['required']">please enter the Product discription</span>
            
          </div>
      </div><br>
      <div class="form-group">
        <label ><strong>Available Stock</strong></label>
        <input #Stock="ngModel" name="Pdis" required="" ngModel type="text" class="form-control"  placeholder="Available stock">
        <div *ngIf="Stock.touched">
            <span *ngIf="Stock.errors?.['required']">please enter the Product discription</span>
            
          </div>
      </div><br>
      <div class="form-group">
        <label ><strong>Upload image</strong></label>
        <input #Pimg="ngModel" name="Pimg" required="" ngModel type="text" class="form-control"  placeholder="Upload image">
        <div *ngIf="Pimg.dirty">
            <span *ngIf="Pimg.errors?.['required']">please enter the Product discription</span>
            
          </div>
      </div><br>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
