<app-navbar></app-navbar>
<p>product-details works!</p>
<div class="row justify-content-center">
    <div class="col-lg-4 mt-5">
        <img  class="thumbnail" src="/assets/products/w1.jpg">
        <div class="box-element product">
            <h6><strong>Seller Name :</strong></h6>
            <h6><strong>Product Name :</strong></h6>
            <h6><strong>Product Price :</strong></h6>
            <hr>

            
            <button class="btn btn-dark" [routerLink]="'/cart'" >Add to Cart</button>&nbsp;
            <a class="btn btn-outline-success" >View</a>
            <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

        </div>
    </div>
    </div>
    <br><br>
    <app-footer></app-footer>