<br><br>
<!-- <div class="row">
    <div class="col-8">
 
</div>
<div class="col-4 d-flex  align-items-center">
    <div >
    <h1 style="font-size: 70px;">JUST</h1>
    <h1 style="font-size: 65px;">DO</h1>
    <h1 style="font-size: 55px;">IT</h1>
</div>
</div>
</div> -->


<div class="row">
    <div class="col-lg-4">
        <img  class="thumbnail" src="/assets/products/w1.jpg">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>

            
            <!-- <h4 style="display: inline-block; float: right"><strong>$20</strong></h4> -->

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="\assets\products\w2.jpg">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            

            
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="/assets/products/w4.jpg">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>

         


        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="/assets/products/w5.jpg">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>


        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="/assets/products/w6.jpg">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            
          
        
            
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="/assets/products/w3.jpg">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>


        </div>
    </div>
</div>
<br><br>