<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-warning" ><strong> E-co</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/home'" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/products'">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'/cust_profile'">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning active " aria-current="page"  [routerLink]="'/seller_reg'" >Be a seller</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div class="container">
<div style="height:560px"  class="row align-items-center justify-content-center">
    <div class="col-8">
<form  #form="ngForm" (ngSubmit)="submit(form.value)">
    <div class="form-group">
      <label for=""><strong>Seller id (user name)</strong></label>
      <input ngModel  name="user_name"   type="text" class="form-control"  placeholder="Seller Id">
      <!-- <div *ngIf="Pname.touched">
        <span *ngIf="Pname.errors?.['required']">please enter the name</span>
        <span *ngIf="Pname.errors?.['pattern']">invalid name</span>
      </div> -->
    </div><br>
    <div class="form-group">
      <label for=""><strong>password</strong></label>
      <input name="password" ngModel type="text" class="form-control"  placeholder="Password">
    </div><br>
    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-info">Login</button>
    </div>
    <br>

    <p class="text-info">didnt  have an account? &nbsp; <a class="text-decoration-none" [routerLink]="'/seller_reg'">signUp Now</a></p>

  

</form>
</div>
</div>
</div>
<br>
<app-footer></app-footer>