

    <!-- Sidebar -->
    <nav id="sidebarMenu" class="  collapse d-lg-block sidebar  bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
    
          <a  class="list-group-item list-group-item-action py-2 ripple active">
            <span>Home</span>
          </a> <br>
          <a [routerLink]="'/admin/add-cat'" class="list-group-item list-group-item-action py-2 ripple"
            ><span></span>Add category</a
          ><br>
          <a class="list-group-item list-group-item-action py-2 ripple"
            ><span>View category</span></a
          ><br>
          <a class="list-group-item list-group-item-action py-2 ripple">
            <span>View Seller</span>
          </a><br>
          <a class="list-group-item list-group-item-action py-2 ripple"
            ><span>Approve Seller</span></a
          ><br>
          <a  class="list-group-item list-group-item-action py-2 ripple"
            ><span>View Customer</span></a
          >
          <a ><button class="btn mt-2  btn-warning" >Logout</button></a>
       
     
        
         
        </div>
      </div>
    </nav>


